body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 40px;
}
.links a{
  display: block;
  margin-bottom: 9px;
}
.btnlinks a{
  margin-right: 15px;
  font-size: 14px;
}
.btnlinks a:hover{
  text-decoration: underline;
}
#supportHero{
  background-color: rgba(66, 66, 66, 0.05);
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
  /* opacity: 0.1; */
}
#supportRow{
  display: flex;
  justify-content: space-between;
}
#searchBox{
  width: 95%;
  height: 50px;
}